<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore and filter FIFA 23 Ultimate Team Players and Ratings">
    <meta name="author" content="Footballers">
    <meta name="keywords" content="FIFA, FIFA23, FUTDRAFT, SBC, Football, Footballers, FUT23"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../sass/main.css">
    <title>Footballers</title>
</head>

<body class="min-vh100 vh-100">
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="../../index.html">
                    <img src="../../imagenes/logo.png" alt="Bootstrap" width="30" height="24"
                        class="d-inline-block align-text-top">
                    FIFA23
                </a>
                <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="pt-2">
                            <form class="d-flex mx-4" role="search">
                                <input class="form-control me-2 bg-dark text-white" type="search"
                                    placeholder="Search player" aria-label="Search">
                                <button class="btn btn-primary text-dark fw-bold" type="submit">Search</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="../../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="players.html">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="../squads/squads.html">Squads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="../sbc/sbc.html">SBC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="../contact/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="bg-main">
        <div class="container-fluid py-5">
            <p class="h1 text-center text-primary">Players</p>
        </div>
        <div class="container table-responsive">
            <table class="table table-dark">
                <thead class="">
                    <tr>
                        <th scope="col-md-2" class="">
                            <div class="d-md-flex justify-content-md-start">
                                <form class="d-flex" role="search">
                                    <input class="form-control bg-primary text-white btn-bold" type="search"
                                        placeholder="Search player..." aria-label="Search" id="searchPlayer">
                                </form>
                            </div>
                        </th>
                        <th scope="col" class="table-text">NAME</th>
                        <th scope="col" class="table-text">RATING</th>
                        <th scope="col" class="table-text">POSITION</th>
                        <th scope="col" class="table-text">PRICE</th>
                        <th scope="col" class="table-text">VERSION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row">
                        <td class="col-3 col-sm-3 col-md-2 col-lg-2"><img src="../../imagenes/pele-face.png" alt="pele" class="img-fluid w-50 img-custom"></td>
                        <td class="col col-sm col-md col-lg table-text">Pelé</td>
                        <td class="col col-sm col-md col-lg table-text">98</td>
                        <td class="col col-sm col-md col-lg table-text">DC, MP</td>
                        <td class="col col-sm col-md col-lg table-text">5M</td>
                        <td class="col col-sm col-md col-lg table-text">Icon Prime</td>
                    </tr>
                    <tr>
                        <td class="col-3 col-sm-3 col-md-2 col-lg-2"><img src="../../imagenes/messi-face.png" alt="messi" class="img-fluid w-50 img-custom"></td>
                        <td class="col col-sm col-md col-lg table-text">Lionel Messi</td>
                        <td class="col col-sm col-md col-lg table-text">98</td>
                        <td class="col col-sm col-md col-lg table-text">ED, MCO</td>
                        <td class="col col-sm col-md col-lg table-text">3.5M</td>
                        <td class="col col-sm col-md col-lg table-text">Team of the Year</td>
                    </tr>
                    <tr>
                        <td class="col-3 col-sm-3 col-md-2 col-lg-2"><img src="../../imagenes/p151226691.png" alt="mbappe" class="img-fluid w-50 img-custom"></td>
                        <td class="col col-sm col-md col-lg table-text">Kylian Mbappe</td>
                        <td class="col col-sm col-md col-lg table-text">98</td>
                        <td class="col col-sm col-md col-lg table-text">DC, ED, EI, SD</td>
                        <td class="col col-sm col-md col-lg table-text">5M</td>
                        <td class="col col-sm col-md col-lg table-text">Team of the Year</td>
                    </tr>
                    <tr>
                        <td class="col-3 col-sm-3 col-md-2 col-lg-2"><img src="../../imagenes/p50369224.png" alt="ronaldo" class="img-fluid w-50 img-custom"></td>
                        <td class="col col-sm col-md col-lg table-text">Ronaldo</td>
                        <td class="col col-sm col-md col-lg table-text">98</td>
                        <td class="col col-sm col-md col-lg table-text">DC, SD</td>
                        <td class="col col-sm col-md col-lg table-text">8.5M</td>
                        <td class="col col-sm col-md col-lg table-text">Trophy Titan</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="container-fluid bg-black container-footer">
        <footer class="text-white text-center">© 2014-2023 Copyright Footballers All FIFA assets are property of EA
            Sports. 18+ Bet Responsibly</footer>
    </div>
    <script src="../../bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>