$primary: #20c997; // Cambia el color primario a rojo
$secondary: #404040; // Cambia el color secundario a verde

// Importa el archivo principal de Bootstrap después de definir tus variables
@import '../bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

$mobile: 768px;
$tablet: 1024px;
$desktop: 1025px;

// Media queries para ajustar las variables según el dispositivo
@media screen and (max-width: 768px) {
  // Dispositivos móviles
  .container-footer {
    min-height: 3vh;
    font-size: 0.6em;
    padding-top: 5px;
  }

  .bg-main {
    background-image: url(../imagenes/dark-fifa-bg-3.png);
    min-height: calc(100vh - 9vh);
  }

  .header {
    height: 6vh;
  }

  .table-text {
    font-size: 0.75em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  // Tablets
  .container-footer {
    min-height: 3vh;
    font-size: 0.75em;
    padding-top: 5px;
  }

  .bg-main {
    background-image: url(../imagenes/dark-fifa-bg-3.png);
    min-height: calc(100vh - 9vh);
  }

  .header {
    height: 6vh;
  }

  .table-text {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1025px) {
  // Desktops
  .container-footer {
    min-height: 5vh;
    font-size: 1em;
    padding-top: 15px;
  }

  .bg-main {
    background-image: url(../imagenes/dark-fifa-bg-3.png);
    min-height: calc(100vh - 10vh);
  }

  .header {
    height: 5vh;
  }

  .table-text {
    font-size: 1em;
  }
}

footer {
  height: 100%;
}

#squadName::placeholder {
  color: $primary; 
}

#searchPlayer::placeholder {
  color: $light; 
}

.btn-placeholder::placeholder {
  color: $secondary;
  font-weight: bold;
}

.btn-bold{
  font-weight: bold;
}

.select-custom, option {
  font-weight: bolder;

}