* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-main{
    background-image: url(../imagenes/dark-fifa-bg-3.png);
}

footer {
    background-color: black;
    padding: 1em 0;
    width: 100%;
    height: 40px;
    color: white;
    margin-top: auto;
}

.containerFooter {
    padding: 0px;
    border-top: 2px solid aqua;
    
}