<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore and filter FIFA 23 Ultimate Team Players and Ratings">
    <meta name="author" content="Footballers">
    <meta name="keywords" content="FIFA, FIFA23, FUTDRAFT, SBC, Football, Footballers, FUT23"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../sass/main.css">
    <title>Footballers</title>
</head>

<body class="min-vh100 vh-100">
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="../../index.html">
                    <img src="../../imagenes/logo.png" alt="Bootstrap" width="30" height="24"
                        class="d-inline-block align-text-top">
                    FIFA23
                </a>
                <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li>
                            <form class="d-flex mx-4" role="search">
                                <input class="form-control me-2 bg-dark text-white" type="search"
                                    placeholder="Search player" aria-label="Search">
                                <button class="btn btn-primary text-dark fw-bold" type="submit">Search</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="../../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="../players/players.html">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="../squads/squads.html">Squads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="../sbc/sbc.html">SBC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="../../views/contact/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="bg-main">
        <div class="container-fluid py-5">
            <p class="h1 text-center text-primary">Squad Build Challenges</p>
        </div>
        <div class="container">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                <div class="col text-center">
                    <p class="text-white">80+ Player Pick Upgrade</p>
                    <img src="../../imagenes/sbc-80.png" alt="sbc" class="img-fluid">
                </div>
                <div class="col text-center">
                    <p class="text-white">David Beckham TOTY Icon</p>
                    <img src="../../imagenes/sbc_set_image_1000667-acdc827c-4cf2.png" alt="sbc" class="img-fluid">
                </div>
                <div class="col text-center">
                    <p class="text-white"> 93+ TOTS or Shapeshifters Player Pick </p>
                    <img src="../../imagenes/sbc_set_image_1000675-2ea42723-43cf.png" alt="sbc" class="img-fluid">
                </div>
                <div class="col text-center">
                    <p class="text-white">85+ x7 Upgrade</p>
                    <img src="../../imagenes/sbc_set_image_1000683-95d4c061-8d6f.png" alt="sbc" class="img-fluid">
                </div>
                <div class="col text-center">
                    <p class="text-white">Throwback Marquee Matchups</p>
                    <img src="../../imagenes/sbc_set_image_1000013-ec7ccf7d-fb51.png" alt="sbc" class="img-fluid">
                </div>
                <div class="col text-center">
                    <p class="text-white">TOTS or TOTS Moments Upgrade</p>
                    <img src="../../imagenes/sbc_set_image_1000674-59688cca-5439.png" alt="sbc" class="img-fluid">
                </div>
                <div class="col text-center">
                    <p class="text-white">Prime Bronze Upgrade</p>
                    <img src="../../imagenes/sbc_set_image_1000415-44f74e5c-633c.png" alt="sbc" class="img-fluid">
                </div>
                <div class="col text-center">
                    <p class="text-white">Prime Silver Upgrade</p>
                    <img src="../../imagenes/sbc_set_image_1000416-9eac8e4f-14d0.png" alt="sbc" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid bg-black container-footer">
        <footer class="text-white text-center">© 2014-2023 Copyright Footballers All FIFA assets are property of EA
            Sports. 18+ Bet Responsibly</footer>
    </div>
    <script src="../../bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>